
{% if page.very_weak_against.size > 0 %}
<h2>Amazing Counters</h2>

<table>
  {% tablerow hero in page.very_weak_against cols:4 %}
    <a href="/{{ hero | slugify }}">
      <img src="/assets/img/portraits/{{ hero | slugify }}.png" alt="{{ hero }} Profile Picture">
      <p class="hero-title">{{ hero }}</p>
    </a>
  {% endtablerow %}
</table>
{% endif %}

{% if page.weak_against.size > 0 %}
<h2>Good Counters</h2>

<table>
  {% tablerow hero in page.weak_against cols:4 %}
    <a href="/{{ hero | slugify }}">
      <img src="/assets/img/portraits/{{ hero | slugify }}.png" alt="{{ hero }} Profile Picture">
      <p class="hero-title">{{ hero }}</p>
    </a>
  {% endtablerow %}
</table>
{% endif %}


{% if page.good_against.size > 0 %}
<h2>Weak Counters</h2>

<table>
  {% tablerow hero in page.good_against cols:4 %}
    <a href="/{{ hero | slugify }}">
      <img src="/assets/img/portraits/{{ hero | slugify }}.png" alt="{{ hero }} Profile Picture">
      <p class="hero-title">{{ hero }}</p>
    </a>
  {% endtablerow %}
</table>
{% endif %}

{% if page.great_against.size > 0 %}
<h2>Extremely Weak Counters</h2>

<table>
  {% tablerow hero in page.great_against cols:4 %}
    <a href="/{{ hero | slugify }}">
      <img src="/assets/img/portraits/{{ hero | slugify }}.png" alt="{{ hero }} Profile Picture">
      <p class="hero-title">{{ hero }}</p>
    </a>
  {% endtablerow %}
</table>
{% endif %}